BUILDER	APP_TRANSE_					
RUN-MODE	0
GPUID	2							

INPUT-DIR	../dataset/WN18RR/	../data/FB15K-237-baseline/		
RANDOM-SEED	404
DEV-TRAIN	0

########## model hyper-parameters.		
N-EMBED-DIM	128										
R-EMBED-DIM	128												

ENTITY-EMD-DROP	0.3
REL-EMD-DROP	0.3

DNN-DIMS	128,128
DNN-DROPS	0.3,0.3
########## model hyper-parameters.

ACTOR-MINI-BATCH	512
TEST-MINI-BATCH	1024

#training parameters										

#scoring function :  prob_lambda * log P + score_lambda * log (score + base)
MODEL-PER-ITERATION	50
## testing parameters.										
															
## model parameters.
LEARN-RATE	0.0005											
OPTIMIZER	9												
ITERATION	10000000												
#WEIGHT-CLIP	5											
#DELTA-CLIP	0.01										
########################									

