BUILDER	APP_MWALK_GRUV5					
RUN-MODE	0
GPUID	2							

INPUT-DIR	../dataset/WN18RR/	../data/FB15K-237-baseline/		
RANDOM-SEED	404
DEV-TRAIN	0

#INIT-NODE-EMBED	
#INIT-REL-EMBED	
########## model hyper-parameters.		
N-EMBED-DIM	64										
R-EMBED-DIM	128												
RNN-DIM	128

DNN-DIMS	128,128
DNN-DROPS	0.3,0.3

V-DIMS	64,64
V-DROPS	0.2,0.2

LAMBDA	0.5											
########## model hyper-parameters.

TRAIN-POLICY	3
TEST-POLICY	3

TRAIN-MCTS-NUM	64
TEST-MCTS-NUM	500

SCHEDULE-EPSILON	0:1,64:0.3,500:0.5
TEST-SCHEDULE-EPSILON	0:0,200:0.5,1000:0.8
BEAM-SIZE	1000
########## reward setting.
PUCT-C	0.8
PUCT-D	1
MAX-ACTION-NUM	250
MAX-HOP	3

ACTOR-MINI-BATCH	512
ACTOR-EPOCH	1

LEARNER-MINI-BATCH	512
LEARNER-EPOCH	1

REPLAY-BUFF-SIZE	5000000
T-REPLAY-SIZE	10000

TEST-SAMPLES	1
TEST-MINI-BATCH	1024		8

#training parameters										
REWARD-DISCOUNT	0.9

#scoring function :  prob_lambda * log P + score_lambda * log (score + base)
MODEL-PER-ITERATION	10
MODEL-SYNCUP	2															
## testing parameters.										
															
## model parameters.
LEARN-RATE	0.0005											
OPTIMIZER	9												
ITERATION	10000000												
#WEIGHT-CLIP	5											
#DELTA-CLIP	0.01										
########################									

